<!DOCTYPE html>
<html>
<head>
  <!-- <link rel='stylesheet' type="text/css" href='../yeti.css'> -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="./normalize.css">
  <link rel='stylesheet' type="text/css" href='./styles.css' />
  <title>Wander</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar">
    <!-- <button id="wander">WANDER</button> -->

    <%= link_to '<button type="button" id="wander">WANDER</button>'.html_safe, places_path %>

  </nav>

  <div class="container">

    <%= yield %>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</body>
</html>
