
<!-- <iframe width="100%" height="90%" frameborder="0" style="border:0" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/streetview?key=<%= @key %>&location=<%= @lat %>,<%= @lon %>&heading=210&pitch=0&fov=35" allowfullscreen></iframe> -->


<!-- 
<style>.embed-container { position: relative; padding-bottom: 100%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style> -->

<div class='embed-container'>

  <!-- <iframe width="100%" height="90%" frameborder="0" style="border:0" marginheight="0" padding="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/streetview?key=<%= @key %>&location=<%= @lat %>,<%= @lon %>&heading=210&pitch=0&fov=35" allowfullscreen></iframe> -->
  <iframe src="<%= @link %>", width="600" height="450" frameborder="0" style="border:0"></iframe>


</div>


<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2sus!4v1452802409792!6m8!1m7!1sCWskcsTEZBNXaD8gG-zATA!2m2!1d-23.44289557914886!2d151.9065836474792!3f9.98!4f-13!5f0.8160813932612223" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
